@utility container {
  margin-inline: auto;
  width: 100%;
  max-width: 96rem;
  padding-inline: 1rem;

  @media (min-width: 640px) {
    padding-inline: 1.5rem;
  }

  @media (min-width: 1024px) {
    padding-inline: 2rem;
  }
}